.body{
    background :rgb(21, 21, 32)



    ;
}
h1{
    margin-bottom:15%;
     text-align: center;
     padding: 1em 2em;
     text-decoration: none; 
     color: black;
     font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 12px;
}
h2:hover{
     color:#9d0ae0;
     transform: scale(1.15);
    transition: transform 2s;
    

}
.intro{
    font-family: 'Changa', sans-serif;
    color:  #ebe7f0;
    margin-top: 50px;
    margin-bottom: 67px;
    text-align: center;
}



.pc2:hover{
    color:#2a7ddb;
    transform: scale(1.15);
   transition: transform 2s;
   

}
.mipart{
    
    background :linear-gradient(-45deg,#5d0cb9,#0eb2db);
    padding: 68px;
    padding-bottom:13px;
    transform: skewY(2deg); 
}
.secpart{
    margin-top: 5%;
    background :linear-gradient(-45deg,#31a1e2,#9d0ae0);
    padding: 68px;
    padding-bottom:33px;
    transform: skewY(2deg); 
}
h2{
    text-align: center;
    padding: 1em 2em;
    text-decoration: none; 
    color: white ; 
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 50px;
}
 
.header .slider {
    background:url("https://media.wired.com/photos/5ac402a08f872e6fc3992247/191:100/pass/GG3A4965(1).jpg") no-repeat center center;
     
      margin-top: 2%;
      padding-bottom:290px;
      
      height: 220px;
      color:white;
      text-transform:uppercase;
      text-align:center;
  }
.applogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:5%;
  
   
}
.applogo:hover{
    transform: scale(1.15);
    transition: transform 2s;



}



    


.footer
{
    color: white;
    background-color:linear-gradient(-45deg,#5d0cb9,#0eb2db);;
    border-top-right-radius: 90px; 
    border-top-left-radius: 90px; 
    transform: skew(-2deg); 
}
.footer{
    background-color :linear-gradient(-20deg,#5d0cb9,#0eb2db);
    text-align:center;
    padding:15px 0;
}

.footer p{
    text-align:center;
    color :linear-gradient(-45deg,#5d0cb9,#0eb2db);;
    text-transform:uppercase;
    font-size:0.9em
}

.footer ul{list-style:none;margin-left:0}

.footer ul li{
    display:inline-block;
    width:24px;
    height:24px;
    padding:3px;
    background-color:linear-gradient(-45deg,#5d0cb9,#0eb2db);;
    border-radius: 50%;
    margin-right:8px;
    cursor:pointer
}

.footer ul li img{
    width:90%;
    height:90%;
}

.footer ul li:hover{
    background-color :linear-gradient(-45deg,#5d0cb9,#0eb2db);;
    opacity:0.5
}

/* End Footer*/

/* Start My FrameWork */
.my-title{
    color:#263f70;
    text-transform:uppercase;
    margin-top:20px;
    margin-bottom:30px;
}

.snd-title{
    text-transform:uppercase;
    color:#115175;
}

.copy,q{
    text-align:justify;
    color:#ADADAD;
    line-height:1.7
}